body {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #E0E0E0;
  font-family: 'Oxygen', sans-serif;
}



/** HEADER **/
#header-nav {
  background-color: #337ab7;
  border-radius: 0;
  border: 0;
}

#header-nav-app {
  height: 200px;
  border-radius: 0;
  border: 0;
}
#logo-img {
  background: url('../img/oadpi.png') no-repeat;
  width: 120px;
  height: 100px;
  margin: 5px 5px 5px 0;
}


.navbar-brand {
  padding-top: 5px;
}
.navbar-brand h1 { /* pagename */
  color: #fff;
  font-size: 2.0em;
  /*text-transform: uppercase;*/
  font-weight: bold;
  text-shadow: 1px 1px 1px #337ab7;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* pagina principal  */
  color: #000;
  font-size: 1em;
  margin-top: 15px;
}
.navbar-brand p span { /* Home*/
  vertical-align: middle;
}

#nav-list {
  margin-top: 20px;
}
#nav-list a {
  color: #fff;
  text-align: center;
}

#nav-list li button{
  color: #337ab7;
  text-align: left;
  background: #ffff;
}

#nav-list li button:hover{
  color: #000;
  text-align: left;
  background: #E0E0E0;
}
#nav-list a:hover {
  background: #337ab7;
  color: #ffff;

}
#nav-list a span {
  font-size: 2em;
}

.panel-group h5{
  color: #337ab7;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}


.navbar-header button.navbar-toggle {
  clear: both;
  width: 60px;
  height: 60px;
  margin-top: -30px;
}




/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 40px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #337ab7;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}

#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */



/* HOME PAGE */


#menu-tile, #specials-tile, #map-tile {
  height: 500px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #fff;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background-color: #f8f8f8;
  background-position: center;
}
#specials-tile {
  background-color: #f8f8f8;
  background-position: center;
}

#map-tile {
  background-color: #f8f8f8;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 1;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  /*text-transform: uppercase;*/
  background-color: #000;
  color: #fff;
  opacity: 1;
}

.margin_e{
  margin-top: 2px;
}

.backgroud{
  background-color: #cccccc;
  color: #cccccc;
}

.btn-press {
  background: rgba(0,0,0,0);
  color: #0f0f0f;
  box-shadow: inset 0 0 0 1px #0f0f0f;
}


/********** Opciones **********/
#panelworkspace {
  background-color: #FFFFFF;
  height: auto;
  color: #0f0f0f;
}

#optionsContent{
  background-color: #E0E0E0;
  display: block;

}


#paneloaHome{
  height: 400px;

}


#paneldowloadapp{
  height: auto;
}


#option0{

}
/*botones de opciones*/
#optionp0, #optionp1, #optionp2, #optionp3, #home{
  margin-top: 5px;
  height:40px;
}

#option0, #option1, #option2, #option3, #option4,  #option5,  #option6,  #option7,  #option8 {
  margin-top: 0px;
  margin-left: 5px;
}

#optionr1, #optione1, #optionr2, #optione2{
  margin-top: 0px;
  margin-left: 5px;
}

/*boton para regresar a panel*/
#optionreturn {
  margin-top: 5px;
  height: 40px;
  font-size: 16px;

}



/*imagen*/

.panel-body .listaoa li {
  color: #000;
  font-size: 12px;
  border-bottom: 1px solid #B6B6B6;
}

.modal-content{
  color: #000;
}

.modal-content input[type=text]{
  width: 100%;
}

/*color de texto en el div de xml*/
#exerciseCoenten{
  color: #0b0b0b;
  font-size: 12px;

}

#collapsable-options{
  font-size: 11px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/********** Large devices only **********/
@media (min-width: 1200px) {

  #panelstudentworkspace{
    height: 350px;
  }

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #header-nav-app {
    height: 200px;
    border-radius: 0;
    border: 0;
  }
  #logo-img {
    background: url('../img/oadpi.png') no-repeat;
    width: 120px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

  .navbar-brand h1 { /* pagename */
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: .75;
  }

  #paneloptions{
    width:230px;
    margin-right: 10px;
  }

  #panelstudentworkspace{
    height: 350px;
  }

  /* Home Page */


  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */

  .navbar-brand h1 { /* page name */
    padding-top: 10px;
    font-size: .0em; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: 2em;
    margin-top: 12px;
  }
  #paneloptions{
    height:auto;
  }

  #panelstudentworkspace{
    height: 250px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #header-nav-app {
    height: 100px;
    border-radius: 0;
    border: 0;
  }
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* page name */
    padding-top: 10px;
    font-size: 1.8em; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .8em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }


  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }

  #paneloptions{
    height:auto;
  }

  #paneloa, #panelexercise{
    font-size: 10px;
  }
  /* End Footer */

  /* Home Page */
}



/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */

  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */

  /* Home page */

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }

  #paneloptions{
    height:auto;
  }

  #paneloa, #panelexercise{
    font-size: 8px;
  }
}



/* Custom Colored Panels */

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
  margin-top: 5px;
  margin-bottom: 5px;

}

.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;

}

.panel-green > a {
  color: #5cb85c;


}

.panel-green > a:hover {
  color: #3d8b3d;

}

.panel-red {
  border-color: #d9534f;
  margin-top: 5px;
  margin-bottom: 5px;

}

.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

.panel-red > a {
  color: #d9534f;
}

.panel-red > a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
  margin-top: 5px;
  margin-bottom: 5px;

}

.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

.panel-yellow > a {
  color: #f0ad4e;
}

.panel-yellow > a:hover {
  color: #df8a13;
}


.panel-blue {
  border-color: #337ab7;
  margin-top: 5px;
  margin-bottom: 15px;

}

.panel-blue > .panel-heading {
  border-color: #337ab7;
  color: #fff;
  background-color: #337ab7;

}

.panel-blue > a {
  color: #337ab7;


}

.panel-blue > a:hover {
  color: #337ab7;

}